<!DOCTYPE html>
<html lang="zh-cn">
{% load staticfiles %}
<head>
	<meta charset="utf-8">
	<title>Bootstrap, from LayoutIt!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
        <link href=" {{MEDIA_URL}}bootstrap2/css/bootstrap.min.css " rel="stylesheet">
        <script type="text/javascript" src=" {{MEDIA_URL}}bootstrap2/js/jquery-1.11.1.min.js "></script>
        <script type="text/javascript" src=" {{MEDIA_URL}}bootstrap2/js/bootstrap.min.js "></script>
</head>

<body>
<div class="container">
	<div class="row" style='margin-top:100px'>
		<div class='offset2 span6 well' style='padding-right:80px'>
			<div style='margin-left:40px'>
				<h3 class='offset2'>用户注册</h3>
			</div>
		
			<form class="form-horizontal" id="user_register_form"  method='post' action='{% url 'register' %}'>
				<div class="control-group">
					<label class="control-label" for="username"><strong>用户名：</strong></label>
					<div class="controls">
						<input type="text" id="username" name="username">
					</div>
					<br>
					<div class="control-group">
						<label class="control-label" for="password1"><strong>请输入密码：</strong></label>
						<div class="controls">
							<input type="password" id="password1" name="password1">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password2"><strong>请输入确认密码：</strong></label>
						<div class="controls">
							<input type="password" id="password2" name="password2">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email"><strong>注册邮箱：</strong></label>
						<div class="controls">
							<input type="text" id="email" name="email">
						</div>
					</div>
					<div class="controls">
						<button type="submit" class="btn btn-primary" name='action' value='注册' id="user_login_button" style="margin-right:10px">注册</button>
						<button type="submit" class="btn btn-primary" name='action' value='取消' id="user_register_button" style="margin-right:10px">取消</button>
						<h5 id="error_status" style="display:inline">
								{% if messages %}
									{% for message in messages %}
										{{message}}
									{% endfor %}
							 	{% endif %}
						</h5>			
					</div>	
				</div>		
			</form>
		</div>
	</div>
	
	<!--  
	<div class="row-fluid" id="main_center_parts" style="margin-top:50px">
			
	</div>
	-->
	
</div>
</body>
</html>
